h1{
text-align:center;margin-left:auto;margin-right:auto;
margin-bottom: 10px;
min-height: 1.5em;
font-family: 'Open Sans', sans-serif;
font-size: 3em;
letter-spacing: 7px;
font-weight: bold;
text-shadow: 2px 2px 8px #FF0000;

}

h2 {
  text-align:center;margin-left:auto;margin-right:auto;
  font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #BCBCBC;
    background-position: center; /* Center the image */
  	background-size: auto 130%; 

  	font-family: 'Dosis', sans-serif;
    font-size: 20px;

  	
}

svg {
	width: auto; height: 100vh;
  text-align:center; padding: 5%  10% ; 

}

.region:hover {
	filter:  brightness(1.2);
	cursor:pointer;

}

/* Nuevo */

.flex-grid {
  display: flex;
    height: 100vh;
 
}

@media (max-width: 800px) {
  .flex-grid {
    flex-direction: column;
  }
}

.mapaContainer{
  text-align:center;margin-left:auto;margin-right:auto;
}

#mapa {  
  transition: height 2s;
  
}




.infoRegion {
  grid-column: 1 / 3;
  grid-row: 1;
  min-width: 100%;  
 }

.selectGenero {
  grid-column: 1 / 3;
  grid-row: 2;
   
}

.infoGenero {
  display: flex;
  justify-content: space-between;
  min-width: 100%; 
  flex-wrap: wrap;
}

.infoMusica {  
  flex: 240px;
 
}

.infoDanza {  
  flex: 240px;
  
}

ol {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

 ol > li {
  flex: 1;

 }

.your-centered-div img {
    display: block;
    width: 100%;
    height: auto;
}

.container {
    width: 100%;
    float: left;
    border: 1px solid orange;
}

.your-centered-div {
    max-width: 560px; /* you have to have a size or this method doesn't work */
    max-height: 315px;
    margin-right: auto;
    margin-left: auto;
}

/*SlideShow CSS*/

* {box-sizing: border-box}
.fotosNoroeste, .fotosLitoral .fotosCuyo .fotosPampeana .fotosCiudadana .fotosCentro .fotosPatagonia {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 560px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}



/* Captions*/ 

figcaption {
    background-color: #222;
    color: #fff;
    padding: 3px;
    text-align: center;
}
/*Hide classes   */

.regionInfo {
  display: none;
}

.infoGenero {
  display: none;
}