* {
  box-sizing: border-box;
}
h1, h2, h3, h4{
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Dosis', sans-serif;
}

svg {
  height: 30vh;
  display: block;
  margin: auto;
  padding-top: 5%;
}

.region:hover {
  filter:  brightness(1.2);
}


/*Cards styles*/

@media only screen and (max-width: 600px) {
.tilesContainer {
display: flex;
flex-wrap: wrap;
      }
}



.flexCol{
display: flex;
flex-wrap: wrap;
justify-content: center;
  
}


.tile {
  min-height: calc((100vh)/3);
  min-width: calc((100vh)/4);
  flex: 1 0 25%;

}



ul > li, p{
  text-align: left;
}

img{
   display: block;
  margin-left: 0;
  
}


.flip-card-back{
  overflow: scroll;
  font-size: 150%;
  border: 1px solid black;
}

/* Zooming icon */

.cardInfoDiv{
  display: block;
  height: 30px;

}

img.zoomInfo {
  float: right;
  margin: 5px;
}


@media only screen and (max-width: 600px){
  img.zoomInfo {
  display: none;
}
}


/* Change and show Scrollbar*/
/* width */
::-webkit-scrollbar {
   width: 20px;
}


/* Handle */
::-webkit-scrollbar-thumb {
   background: url('img/scrollDown.gif') no-repeat bottom;
}



body, .flip-card-back{
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

/*Set scroll bar to the left*//*
.flip-card-inner{
 
  direction: rtl;
}

.cardInfo{
 direction:ltr;
}
*/
/* otro*/

.center-cropped {
  width: 100%;
  height: 100%;
 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width:  100%;
  height:  100%;
  box-sizing: border-box;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  /*background-color: dodgerblue;*/
  color: black;
  transform: rotateY(180deg);

}
/*Frontside card style*/

.titulo {
  
  text-align: left;
  left: 20px;
  position: absolute;
  color: white;
  opacity: 0.8;

}

h2.titulo {
 font-size: 200%;
 margin-top: 0;
 text-shadow:  -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 4px 4px 8px #000000;
 
 
}
h3.titulo {
 font-size: 150%;
 bottom: 0%;
 text-shadow: 1px 1px 2px #000000;
 
}
/*
.hiddenCaract {
  display: none;
}
*/





#overlayMap{
  display: block;
  position: absolute;
  left: 0px;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background-color: blue;
  opacity: 1;
 }

#overlayBackground{
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;  
  z-index: 20;
  backdrop-filter: blur(3px);

}

#outerOverlayInfo{
  position: absolute;
  left: 50%
}

#overlayInfo{
  position: relative;
  left: -50%;
  top: 10vh;
  min-height: 80vh;
  min-width: 50vw;
  background-color: green;
  opacity: 1;
 }


#bigMap{
  height: 95vh;
}



iframe {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 95%;
  height: 95%;
  border: 0;

}

.videoContainer {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

h4 {
 display: none;

}


/*scrollable elements*/

img.scrollDown {
 position: absolute;
 bottom: 10px;
 right: 5px;
}




/*Left Column*/

/*.tileL {
  min-height: calc((100vh)/3);
  min-width: calc((100vh)/4);
  flex: 1 0 25%;

}*/

/*#l1 {
  height: 50px;
  overflow: hidden;
}

*/

#colLeft {
 display: none;
 float: left;
 flex-direction: column;
 border: 1px solid black;
  
}
 img#regionMapa {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
 }

#l1 {
  height: 33vh;  
}

#l2{

  height: 66.6vh;  
  margin: 0px;
}

@media only screen and (max-width: 600px) {
#colLeft {
width: 100vw;
      }

#l1 {
  height: 50vh;  
  }

#l2 {
  height: 50vh;  
  }

#mapa {
  height: 50vh;
}


}

h2#regionNombre {
  text-align: center;
  color: white;
  font-size: 250%;
  margin: 0px;
  text-shadow:  -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 4px 4px 8px #000000;
}



/*Footer*/

footer {
  height: 10.7vh;
  display: flex;
}

#instrumentCardOuter {
  
  position: absolute;
  height: 100vh;
  width: 100vw;  
  z-index: 20;
  backdrop-filter: blur(3px);
  

}

#instrumentCardMiddle {
 position: absolute;
  left: 50%

}

#instrumentCard {
position: relative;
  left: -50%;
  top: 10vh;
  min-height: 80vh;
  min-width: 50vw;
  background-color: green;
  opacity: 1; 

}

a:link {
  flex: 1;
  display: block;
  text-decoration: none;
    text-align: center;
  color: white;
  font-size: 200%;
  margin: 0px;
  text-shadow:  -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 4px 4px 8px #000000;
}
